<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/loginstyle.css">
        <title>Cadastro de Usuário</title>
    </head>
    <body>
        <div class="cadastro">
            <h1>Insira o nome de usuário</h1>
            <form action="/add_user" method="post">
                <label for="name">Username:</label>
                <input type="text" id="name" name="name" required>
                <button type="submit">Enviar e jogar</button>
            </form>
        </div>
    </body>
</html>
